.hero-section {
  padding: 4px 7vw;
  font-family: sans-serif;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .hero-section {
    padding-left: 7vw;
    padding-right: 7vw;
    margin-top: 6rem;
  }
}

@media (min-width: 1024px) {
  .hero-section {
    padding-left: 20vw;
    padding-right: 20vw;
    margin-top: 6rem;
  }
}

.hero-content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .hero-content {
    flex-direction: row;
  }
}

.hero-text-container {
  text-align: center;
  margin-top: .5rem;
}

@media (min-width: 768px) {
  .hero-text-container {
    width: 50%;
    text-align: left;
    margin-top: 0;
  }
}

.hero-greeting {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 0.5rem;
  line-height: 1.25;
}

@media (min-width: 640px) {
  .hero-greeting {
    font-size: 2.25rem;
  }
}

@media (min-width: 768px) {
  .hero-greeting {
    font-size: 3rem;
  }
}

.hero-name {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-bottom: .5rem;
  line-height: 1.25;
}

@media (min-width: 640px) {
  .hero-name {
    font-size: 3rem;
  }
}

@media (min-width: 768px) {
  .hero-name {
    font-size: 3.75rem;
  }
}

.hero-skills {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #8245ec;
  line-height: 1.25;
}

@media (min-width: 640px) {
  .hero-skills {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .hero-skills {
    font-size: 1.875rem;
  }
}

.hero-skills-prefix {
  color: white;
}

.hero-cursor {
  color: #8245ec;
}

.hero-description {
  font-size: 1rem;
  color: #9ca3af;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
  line-height: 1.625;
}

@media (min-width: 640px) {
  .hero-description {
    font-size: 1.125rem;
  }
}

@media (min-width: 768px) {
  .hero-description {
    font-size: 1.125rem;
  }
}

.hero-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  align-items:center;
  padding-bottom: 25px;
}

@media (min-width: 640px) {
  .hero-buttons-container {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .hero-buttons-container {
    justify-content: flex-start;
  }
}

.hero-cv-button,
.hero-connect-button {
  display: inline-block;
  color: white;
  padding: 0.75rem 5rem;
  border-radius: 9999px;
  font-size: 1.125rem;
  font-weight: bold;
  transition: all 300ms ease;
  transform: scale(1);
  text-decoration: none;
  white-space: nowrap;
}

.hero-cv-button {
  background: linear-gradient(90deg, #8245ec, #a855f7);
  
}

.hero-connect-button {
  background: transparent;
  border: 2px solid #8245ec;
  box-shadow: 0 0 2px #8245ec, 0 0 2px #8245ec, 0 0 20px rgba(130, 69, 236, 0.3);
}

.hero-cv-button:hover,
.hero-connect-button:hover {
  transform: scale(1.05);
  
  background:transparent;
  outline: 1.5px solid #a993fe;
    box-shadow: 0 5px 20px rgba(126, 97, 231, 0.7);
}

.hero-image-container {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .hero-image-container {
    width: 50%;
  }
}

.flip-card {
  background-color: transparent;
  width: 12rem;
  height: 10rem;
  perspective: 1000px;
  border: 1px solid #8b5cf6;
  border-radius: 9999px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(130, 69, 236, 0.5);
}
.flip-card:hover{
      outline: 1.5px solid #e26f0b83;
     box-shadow: 0 5px 20px rgba(198, 154, 84, 0.7);
}
@media (min-width: 640px) {
  .flip-card {
    width: 16rem;
    height: 16rem;
  }
}

@media (min-width: 768px) {
  .flip-card {
    width: 20rem;
    height: 20rem;
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  
}

.flip-card.is-hovered .flip-card-inner {
  transform: rotateY(180deg);
  
  
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 9999px;
  overflow: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #8245ec;
  color: white;
  transform: rotateY(180deg);
}

.hero-profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9999px;
}